    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Russo+One&display=swap&subset=cyrillic');
    body {
      background-color: black;
      font-family: 'Russo One', sans-serif;
    }

    .embed-responsive {
      margin-bottom: 20px;
    }

    a:hover {
      text-decoration: none;
      color: #da0b0b;
    }

    .main-navigation li > a:hover,
    .main-navigation li > a:hover {
      color: white;
      background-color: #da0b0b;
    }

    li.active > a {
      color: black;
      background-color: #ece5e5;
      cursor: default;
    }
    li.active > a:hover {
      color: black;
      background-color: #ece5e5;
    }

    .container-xl {
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }

    .main-navigation-mobile {
      padding-left: 0; 
      padding-right: 0;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
    }
    .main-navigation-mobile > button {
      width: 100%; padding: 0;
    }
    .main-navigation-mobile > button > img {
      width: 100%; 
      border: 5px solid white;
    }
    
    .main-navigation-pc {
      padding-left: 0; 
      padding-right: 0; 
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
    }
    .main-navigation-pc > a > img {
      border: 5px solid white; 
      margin-bottom: 1px;
    }
    .main-navigation {
      background-color: white;
    }

    .main {
      margin-top: 8px; 
      padding-top: 10px; 
      background-color: white;
      
    }
   
    .about-itbeard {
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }

    
    .footer {
      margin-top: 10px;
      background-color: white;
      padding-top: 5px;
      font-size: 0.7rem;
      padding-bottom: 10px;
    }

    .footer-text {
      margin-top: 5px;
    }


  
    @media (max-width: 767px) {
      .container-xl {
        flex-direction: column;
      }
    }

    /* Tablets >= 768px */
    @media (min-width: 768px) and (max-width: 991px) {
      
    }

    /* PC >= 992px */
    @media (min-width: 992px) {  }