@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
@keyframes background {
    0% {
        background: #6EBF47;
    }
    10% {
        background: #FE8A25;
    }
    20% {
        background: #FCB13E;
    }
    30% {
        background: #FAC44A;
    }
    40% {
        background: #F0C548;
    }
    50% {
        background: #B0BA48;
    }
    60% {
        background: #6EBF47;
    }
    70% {
        background: #4BA490;
    }
    80% {
        background: #2E93DA;
    }
    90% {
        background: #2B90EA;
    }
    100% {
        background: #3F73E8;
    }
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: white;
}

.container {
    background-color: white;
}

/* --------------- Header */
.header-logo-link,
.header-logo-link:hover,
.header-logo-link:focus,
.header-logo-link:active {
    color: black;
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Всплывающая форма */

.modal {
    position: fixed;
    
    color: #000000;
  
    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;
    
    width: 22px;
    height: 22px;
  
    font-size: 0;
  
    background-color: transparent;
    border: 0;
  
    cursor: pointer;
  }
  
  .modal-close::before,
  .modal-close::after {
    content: "";
  
    position: absolute;
    top: 10px;
    left: 2px;
  
    width: 19px;
    height: 3px;
  
    background-color: #d0d0d0;
  }
  
  .modal-close::before {
    transform: rotate(45deg);
  }
  
  .modal-close::after {
    transform: rotate(-45deg);
  }


.map-view {
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}
.map-view:focus,
.map-view:hover {
    animation: background 1s infinite alternate;
    text-decoration: none;
    color: white;
}
.modal-map iframe {
    position: relative;
    /* Чтобы интерактивная карта перекрывала изобажение карты */
    z-index: 2;

    border: none;
}

.modal-map {
    top: 50%;
    left: 50%;
  
    display: none;
    width: 650px;
    height: 535px;
    margin-top: -280px;
    margin-left: -390px;
    
    border: 7px solid white;
}

.modal-map p {
    position: absolute;
    top: 0;
    left: 0;
    /* Чтобы изображение карты было под интерактивной картой */
    z-index: 1;

    margin: 0;
}

.row {
    margin-bottom: 20px;
}

/* --------------- Breadcrumbs */
.breadcrumb {
    background-color: black;
    padding: 5px 10px;
}
.breadcrumb a {
    color: white;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    animation: background 1s infinite alternate;
    text-decoration: none;
}

/* --------------- Filter */

.filter-option {
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}
.filter-option:hover,
.filter-option:focus {
    animation: background 1s infinite alternate;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    left: 0;
    top: 4px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 2px;
    
    width: 12px;
    height: 12px;

    background-image: url("images/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: 0;
    top: 4px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 4px;
    
    width: 8px;
    height: 8px;

    background-color: #000000;
    border-radius: 50%;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.5;
    cursor: default;
    background-color: transparent;
}

.filter-button {
    padding: 5px 20px;
    color: white;
    background-color: black;
    border: 2px solid black;
}
.filter-button:focus,
.filter-button:hover {
    animation: background 1s infinite alternate;
    outline: none;
    border: 2px solid transparent;
}

/* --------------------------------------------------- */



.catalog-list {
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}
.catalog-item {
    display: flex;
    flex-direction: column;
    background-color:white; 
}



.catalog-item:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.catalog-item a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    color: #000000;
}
.catalog-item h3 {
    order: 1;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 15px;
    
    font-size: 14px;
    line-height: 18px;
}
/* Название категории товара */
.catalog-category {
    display: block;
}

.catalog-item-image {

    /* width: 200px;
    height: 200px; */
    margin: 0;
}
/* Цена + кнопка "Купить" */
.catalog-item-price {
    display: flex;
    flex-basis: 100%;
    margin: 15px;
    margin-top: 0;
}

/* Цена */
.catalog-item-price-price {
    display: flex;
    flex-basis: 80%;


    /* width: 112px; */
    padding: 15px 25px;

    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}
/* Кнопка "Купить" */
.catalog-item-price .button {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    /* width: 40px; */
    /* padding: 15px 10px;
    margin-right: 0; */

    line-height: 20px;
    color: #ffffff;
    background-color: black;
}


/* ------------------------------------------------------------------------------ */

/* -------------- Фотографии товара */
.product-photos {
    /* max-width: 100%; */
    height: auto;
}

/* Список фотографий */
.product-photo-preview {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 0;
    margin: 0;

    list-style: none;
}
/* Фотография из списка фотографий */
.product-photo-preview li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}


/* Большая фотография */
.product-photo-full {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li img {
    width: 100%;
    height: auto;
}

/* -------------- Описание товара */
.product-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
  
 

/* Артикул */
.product-article {
    color: #aeaeae;
}


/* Комплектация товара */
.product-info {
    padding-top: 10px;
}
.product-info p {
    margin: 0;
}
.product-info h3 {
    margin: 0;
    margin-bottom: 27px;

    font-size: 24px;
    line-height: 30px;
}
.product-info .product-text {
    margin-bottom: 35px;
}
.product-info .product-price {
    display: flex;
    margin-bottom: 63px;
}
.product-info ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-info li {
    position: relative;

    padding-left: 23px;
}
.product-info li::before {
    content: "";

    position: absolute;
    top: 7px;
    left: 2px;

    width: 8px;
    height: 8px;

    background-color: #000000;

    transform: rotate(45deg);
}



/* -------------------------------------------------------------------- */



/* Current page links */
.disabled {
    cursor: default;
    font-weight: bold;
}

.header-logo-link:focus {
    outline: 2px dashed black;
}


.poem {
    /* no need to use <br> */ 
    white-space: pre-line; 
    /* hyphenation on mobile screens */ 
    word-wrap: break-word; 
}

.poems-page-intro {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.poem:nth-child(odd) {
    background-color: black;
    color: white;
}

summary:hover,
summary:focus {
    animation: background 1s infinite alternate;
    color: white;
    outline: none;
}



/* --------------- Footer */
.footer {
    min-height: 70px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 auto;

    list-style: none;
}

/* Social links */
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    
    fill: black;
}
.social-button:hover,
.social-button:focus {
    outline: none;
    animation: background 1s infinite alternate;
}
.social-button:hover path,
.social-button:focus path {
    fill: white;
    outline: none;
}

/* Copyright */
.footer-copyright {
    font-size: 1rem;
    color: black;
    padding: 10px;
    text-transform: uppercase;
}
.footer-copyright:hover,
.footer-copyright:focus {
    text-decoration: none;
    color: white;
    animation: background 1s infinite alternate;
    outline: none;
}






@media screen and (min-width: 451px) {
    
    
    
    /* --------------- Navigation */
    /* Hide hamburger menu for mobile devices*/
    .nav-mobile {
        display: none;
    }
    .nav a {
        color: black;
        font-size: 1.5rem;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        outline: none;
        color: white;
        animation: background 1s infinite alternate;
    }
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:active {
        background: black;
        outline: none;
        color: white;
    }
    
    h1 {
        text-transform: uppercase;
    }

/* ---------------------------------------------------------------
Переопределение стилей для ПК
--------------------------------------------------------------- */
.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
}




.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catalog-item a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    color: #000000;
}
.catalog-item h3 {
    order: 1;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 15px;
    
    font-size: 14px;
    line-height: 18px;
}
/* Название категории товара */
.catalog-category {
    display: block;
}

.catalog-item-image {

    /* width: 200px;
    height: 200px; */
    margin: 0;
}
/* Цена + кнопка "Купить" */
.catalog-item-price {
    display: flex;
    flex-basis: 100%;
    margin: 15px;
    margin-top: 0;
}

/* Цена */
.catalog-item-price-price {
    display: flex;
    flex-basis: 80%;


    /* width: 112px; */
    padding: 15px 25px;

    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}
/* Кнопка "Купить" */
.catalog-item-price .button {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    /* width: 40px; */
    /* padding: 15px 10px;
    margin-right: 0; */

    line-height: 20px;
    color: #ffffff;
    background-color: black;
}
  
    
}


/* XS/MOBILES */
@media (max-width: 575px) {
    .catalog-list {
        margin-top: 20px;
    }
    .catalog-item {
        margin-bottom: 20px;
    }

    .product-info {
        margin-top: 30px;
    }

    .product-photo-full {
        width: 100%;
    }
    .product-photo-preview li img {
        width: 100%;
        height: auto;
    }
    
}

/* SM/LANDSCAPE */
@media (min-width: 576px) and (max-width: 767px) { 
    .filter-option {
        display: inline-block;
        padding-left: 35px;
        padding-right: 15px;
    }

    .filter-input-checkbox + label::before {
        content: "";

        position: absolute;
        left: 0;
        top: 3px;

        width: 16px;
        height: 16px;

        border: 2px solid #000000;
    }

    .filter-input-checkbox:checked + label::after {
        content: "";

        position: absolute;
        top: 5px;
        left: 2px;
        
        width: 12px;
        height: 12px;

        background-image: url("images/cross.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .filter-input-radio + label::before {
        content: "";

        position: absolute;
        left: 0;
        top: 2px;

        width: 16px;
        height: 16px;

        border: 2px solid #000000;
        border-radius: 50%;
    }

    .filter-input-radio:checked + label::after {
        content: "";

        position: absolute;
        top: 6px;
        left: 4px;
        
        width: 8px;
        height: 8px;

        background-color: #000000;
        border-radius: 50%;
    }

    .catalog-list {
        margin-top: 20px;
    }
    .catalog-item {
        margin-bottom: 20px;
    }

    .product-info {
        margin-top: 30px;
    }

    .product-photo-full {
        width: 100%;
    }

}

/* MD/TABLETS */
@media (min-width: 768px) and (max-width: 991px) {

    .filter-option {
        display: inline-block;
        padding-left: 35px;
        padding-right: 15px;
    }

    /* .filter-input + label {
        font-size: 20px;
    } */

    .filter-input-checkbox + label::before {
        content: "";

        position: absolute;
        left: 0;
        top: 3px;

        width: 16px;
        height: 16px;

        border: 2px solid #000000;
    }

    .filter-input-checkbox:checked + label::after {
        content: "";

        position: absolute;
        top: 5px;
        left: 2px;
        
        width: 12px;
        height: 12px;

        background-image: url("images/cross.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .filter-input-radio + label::before {
        content: "";

        position: absolute;
        left: 0;
        top: 2px;

        width: 16px;
        height: 16px;

        border: 2px solid #000000;
        border-radius: 50%;
    }

    .filter-input-radio:checked + label::after {
        content: "";

        position: absolute;
        top: 6px;
        left: 4px;
        
        width: 8px;
        height: 8px;

        background-color: #000000;
        border-radius: 50%;
    }

    .catalog-list {
        margin-top: 20px;
    }
    .catalog-item {
        margin-bottom: 20px;
    }
}

/* LG/PC */
@media (min-width: 992px) and (max-width: 1199px) {
    .catalog-item {
        margin-bottom: 20px;
        width: 100%;
    }
}

/* XL */
@media (min-width: 1200px) {
    .catalog-item {
        margin-bottom: 20px;
    }
}



/* --------------- Mobile devices */
@media screen and (max-width: 450px) {
    body {
        font-family: 'Dosis', sans-serif;
        background-color: white;
    }
    
    .container {
        background-color: white;
    }
    
    /* --------------- Header */
    .header-logo-link,
    .header-logo-link:hover,
    .header-logo-link:focus,
    .header-logo-link:active {
        color: black;
        text-decoration: none;
    }
    /* --------------- Navigation */
    /* Hide navigation for PC */
    .nav-pc {
        display: none;
    }
    .nav-mobile li {
        width: 100%;
    }
    
    .nav a {
        color: black;
        font-size: 1.5rem;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link:active {
        outline: none;
        color: white;
        animation: background 1s infinite alternate;
    }
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:active {
        background: black;
        outline: none;
        color: white;
    }
    
    h1 {
        text-transform: uppercase;
    }

    .catalog-list {
        flex-basis: 100%;
    }
    .catalog-item {
        flex-basis: 100%;
        background-color: white;
    }
    .catalog-item img {
        flex-basis: 100%;
    }
    
    
    
    
    
    
    
    /* --------------- Footer */
    .footer {
        min-height: 70px;
    }
    
    .footer ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 auto;
    
        list-style: none;
    }
    
    /* Social links */
    .social-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        
        fill: black;
    }
    .social-button:hover,
    .social-button:focus {
        animation: background 1s infinite alternate;
    }
    .social-button:hover path,
    .social-button:focus path {
        fill: white;
    }
    
    /* Copyright */
    .footer-copyright {
        font-size: 1rem;
        color: black;
        padding: 10px;
        text-transform: uppercase;
    }
    .footer-copyright:hover,
    .footer-copyright:focus {
        text-decoration: none;
        color: white;
        animation: background 1s infinite alternate;
    }
}




/* Should be at the end of this code!!! */
.catalog-item-hidden {
  display: none;
}

